.webapp {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  & .leftsection {
    background-color: #fff;
    height: 100vh;
    width: 30vw;
  }
  & .subheading {
    color: #000;
    font-family: Roboto;
    font-size: 31.52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
    margin-top: 3vh;
    margin-left: 2vh;
  }
  & .createnotebtn {
    height: 6.5vh;
    padding-inline: 3vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 50px;
    background: #000;
    color: #fff;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.688%; /* 26.376px */
    letter-spacing: 0.54px;
  }
  & .containers{
    padding-left: 5vh;
  }
  & .rightsection {
    background-color: #f7ecdc;
    height: 100vh;
    width: 70vw;
  }
}
